version: 2
jobs:
  build:
    docker:
      - image: circleci/node:8.10
    working_directory: ~/repo

    steps:
      - checkout
      - restore_cache:
          keys:
            - node-8-dependencies-{{ checksum "package.json" }}
            - node-8-dependencies-
      - run: yarn install
      - save_cache:
          paths:
            - node_modules
          key: node-8-dependencies-{{ checksum "package.json" }}
      - run: npm run build
      - persist_to_workspace:
          root: .
          paths: dist

  deploy:
    docker:
      - image: circleci/python:2.7
    steps:
      - attach_workspace:
          at: ~/repo
      - run: sudo pip install awscli
      - run: |
          aws s3 rm s3://longnh/ --recursive --region ap-southeast-1
          aws s3 cp ~/repo/dist/ s3://longnh/ --recursive --region ap-southeast-1

workflows:
  version: 2
  build-and-deploy:
    jobs:
      - build
      - deploy:
          requires:
            - build
          filters:
            branches:
              only: master
